@{
    ViewData["Title"] = "Home";
}

<div class="container" style="width:100%; margin:0 auto; padding:150px">
    <div class="box" style="text-align:center">
        <h1 class="display-4">Welcome to Poloma Systems - Event Scheduling System</h1>
    </div>
</div>
