@model Event
@{
    ViewData["Title"] = "Edit";
}
<input asp-for="ID" hidden />
<form method="post" asp-action="Edit">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Edit Event</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Description"></label>
			<input asp-for="Description" class="form-control" />
			<span asp-validation-for="Description" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Location"></label>
			<input asp-for="Location" class="form-control" />
			<span asp-validation-for="Location" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="EventDate"></label>
			<input type ="datetime-local" asp-for="EventDate" class="form-control" />
			<span asp-validation-for="EventDate" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Update</button>
		<a asp-controller="Event" asp-action="Index" class="btn btn-danger" style="width:150px">
			Cancel
		</a>
	</div>
</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
